* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-color-primary: #e1e1e6;
  --font-color-secondary: #c4c4cc;
}

body {
  background-image: url(./assets/mountains-universe-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: var(--font-color-primary);
  overflow-y: hidden;
}

h1 {
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  color: var(--font-color-primary);
}

p {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; 
}

.home {
  height: 100vh;
  display: grid;
  place-content: center;
  justify-items: center;
}

.universe,
.explore {
  width: 65.2rem;
  margin: 10.2rem;
}

.body-home {
  background-image: url(./assets/mountains-universe-1.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.body-universe {
  background-image: url(./assets/mountains-universe-2.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.body-explore {
  background-image: url(./assets/mountains-universe-3.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

nav {
  display: flex;
  padding: 4rem 0 0 7.2rem;
  align-items: center;
  gap: 2.5rem;
}

nav a {
  text-decoration: none;
  font-size: 2.1rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: var(--font-color-secondary);
}

nav a:hover {
  text-decoration: underline;
}

button {
  width: 23rem;
  height: 4.8rem;
  padding: 12px 32px;
  border-radius: 0.5rem;
  border: 2px solid #fff;
  cursor: pointer;

  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;

  margin-top: 20px;
}

button:hover {
  background-color: #fff;
  color: #02799d;
}

.active {
  font-weight: 700;
}
